@page
@model ArtGallery.Pages.galleryModel
@{
}
<link rel="stylesheet" href="~/css/searchbar.css" />

<div class="searchBox">

    <input class="searchInput" type="text" name="" placeholder="Search">
    <button class="searchButton" href="#">
        <i class="material-icons">
            search
        </i>
    </button>
</div>

