@page
@model ArtGallery.Pages.galleryModel
@{
}
<link rel="stylesheet" href="~/css/Gallery.css" />
<div class="container">
    <h1 class="text-center">CSS Grid Portfolio Example</h1>
    <hr>
    <div class="gallery">
        <div class="view overlay hm-black-light gallery-item">
            <img src="../g1.jpg" alt="Placeholder Image" class="img-fluid">
            <div class="mask flex-center">
                <p class="white-text">Gallery Item</p>
            </div>
        </div>
        <div class="view overlay hm-black-light gallery-item">
            <img src="https://placeimg.com/640/480/any" alt="Placeholder Image" class="img-fluid">
            <div class="mask flex-center">
                <p class="white-text">Gallery Item</p>
            </div>
        </div>
        <div class="view overlay hm-black-light gallery-item">
            <img src="https://placeimg.com/640/480/tech" alt="Placeholder Image" class="img-fluid">
            <div class="mask flex-center">
                <p class="white-text">Gallery Item</p>
            </div>
        </div>
        <div class="view overlay hm-black-light gallery-item">
            <img src="https://placeimg.com/640/480/animals" alt="Placeholder Image" class="img-fluid">
            <div class="mask flex-center">
                <p class="white-text">Gallery Item</p>
            </div>
        </div>
        <div class="view overlay hm-black-light gallery-item">
            <img src="https://placeimg.com/640/480/people" alt="Placeholder Image" class="img-fluid">
            <div class="mask flex-center">
                <p class="white-text">Gallery Item</p>
            </div>
        </div>
        <div class="view overlay hm-black-light gallery-item">
            <img src="https://placeimg.com/640/480/any" alt="Placeholder Image" class="img-fluid">
            <div class="mask flex-center">
                <p class="white-text">Gallery Item</p>
            </div>
        </div>
    </div>
</div>