<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArtGallery</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/searchbar.css" />



    <!--FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!--FontAwesome-->
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand col-2" asp-area="" asp-page="/Index">ArtGallery</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="collapsibleNavbar">
                    <ul class="navbar-nav font-me-auto col-8">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-page="/gallery" class="nav-link text-light">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-page="/Exhibit_event" class="nav-link text-light">Exhibit & Event</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropbtn nav-link text-light dropdown-toggle">
                                Marketplace
                            </a>
                            <div class="dropdown-content">
                                <a class="dropdown-item" asp-area="" asp-page="/Marketplace/auction">Auction</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Marketplace/merchandise">Merchandise</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/discuss">Discuss</a>

                        </li>
                        <li class="dropdown">
                            <a class="dropbtn nav-link text-light dropdown-toggle">more</a>
                            <div class="dropdown-content">
                                <a asp-area="" asp-page="/Privacy">Privacy</a>
                                <a asp-area="" asp-page="/more/contactUs">Contact Us</a>
                                <a asp-area="" asp-page="/more/aboutUs">About Us</a>
                                <a asp-area="" asp-page="#">Review</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/UserAccount/UserList">Account List</a>
                        </li>

                    </ul>

                    @*SeARCH OR OTHER ICON*@
                <div class="col">
                    <form role="search">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div>
                    <div class="nav justify-content-end">
                        
                        <a type="button" class="btn btn-outline-light me-2" asp-area="" asp-page="/UserAccount/Login">Login</a>

                    </div>
                </div>
            </div>
        </nav>        
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ArtGallery - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
